body {
    background-color: rgb(12, 15, 19);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.details-container {
    border-top: solid 3px;
    border-left: solid 3px;
    border-top-left-radius: 5px;
    border-color: #9b7700;
    padding: 10px;
}
.details {

}
.details-links {
    display: flex;
    flex-direction: column;
}
.title-container {
    border-top: solid 3px;
    border-left: solid 3px;
    border-top-left-radius: 5px;
    border-color: #9b7700;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    transition: 0.3s;
}
.title-container:hover {
    transition: 0.3s;
    background-color: rgb(22, 28, 36);
    box-shadow: 5px 5px rgb(2, 3, 3);
    border-radius: 5px;
}
.portfolio-container {
    border-top: solid 3px;
    border-left: solid 3px;
    border-top-left-radius: 5px;
    border-color: #9b7700;
    padding: 10px;
    max-width: fit-content;
    max-height: fit-content;
}
.portfolio-item {
    padding: 10px;
    transition: 0.3s;
}
.portfolio-item:hover {
    transition: 0.3s;
    background-color: rgb(22, 28, 36);
    box-shadow: 5px 5px rgb(2, 3, 3);
    border-radius: 5px;
}