body {
    background-color: black;
    color: white;
}
.title {
    border-top: solid 1px;
    border-left: solid 1px;
    border-radius: 5px;
    border-color: #ca9e0c;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
}